<footer class="section">
    <div class="inner clearfix">
        <ul class="site-links float--right">
            <li>Phone : 010-0000-0000&nbsp;&nbsp;&nbsp;&nbsp;</li>
            <li>Email : shchoice0812@gmail.com</li>
        </ul>

        <ul class="site-links float--left">
            <li>© Copyright 2020 SHCHOI Proj.&nbsp;&nbsp;&nbsp;&nbsp;</li>
            <li><a href="#">About ME</a></li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
            <li><a href="#">Contact Me</a></li>
        </ul>
    </div>
</footer>